<!--The content below is only a placeholder and can be replaced.-->
Data source url: <input id="url" [value]="url" (change)="inputTextChanged($event)"/>

<h4>Sort by:
  <input readonly/>
  <select (change)="sortChanged($event)" name="sortby">
    <option value="No sort">No sort</option>
    <option *ngFor="let column of grid.columns" [value]="column.name">{{column.name}}</option>
  </select>
  <button>Add column</button>
</h4>

<h4>Filter by:
  <select (change)="filterChanged($event)" name="filter">
    <option value="No filter">No sort</option>
    <option *ngFor="let column of grid.columns" [value]="column.name">{{column.name}}</option>
  </select>
</h4>

<wj-flex-grid id="grid" #grid [itemsSource]="dataView">
</wj-flex-grid>


